@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
html {
  font-family: "Outfit", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  max-width: 300px;
}

.image-flex {
  width: 290px;
  height: 100%;
}

.card-img-top {
  padding: 0.5rem !important;
}

h1 {
  font-size: 20px !important;
  font-weight: 700 !important;
}
p {
  font-size: 15px !important;
  font-weight: 400 !important;
}
.attribution {
  display: none !important;
}
@media (max-width: 593px) {
  .card {
    min-width: 300px;
  }
}
@media (max-width: 361px) {
  .card {
    min-width: 300px;
  }
}
