@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
html {
  font-family: "Outfit", sans-serif !important;
}

.card-img-top {
  padding: 0.5rem !important;
}

h1 {
  font-size: 15px !important;
  font-weight: 700 !important;
}
p {
  font-size: 15px !important;
  font-weight: 400 !important;
}
.attribution {
  display: none !important;
}
